<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IOTIX 농장 관리 페이지- 작물 정보</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{{ url_for('homeapi') }}">IOTIX</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <a class="btn" href="#" data-toggle="modal" data-target="#logoutModal" style="color:white;">로그아웃</a>
      </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('homeapi') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>프로젝트 소개</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('farmapi') }}">
              <i class="fas fa-fw fa-table"></i>
              <span>작물 관리</span></a>
        </li>
      </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">작물 관리</a>
          </li>
          <li class="breadcrumb-item active">작물 데이터</li>
        </ol>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            작물 데이터 관리</div>
          <div class="card-body">
              {% if date_select == 1 %}
              <p class=" text-center my-3" style="font-size: 120%;">
                  위치 {{position_num}}번 작물과 그래프 시작 날짜를 선택해주세요.
              </p>
              <p class="text-center text-muted my-3">
                  ** 기본 시작 날짜는 <font style="color:#22a1b4;">오늘</font> 날짜 입니다. </p>
              {% else %}
                  <p class=" text-center my-3 " style="font-size: 120%;">
                  위치 {{position_num}}번 작물을 선택해주세요.
                    </p>
              {% endif %}



              <!-- content -->
              <div class="row justify-content-center">

                      <a class="nav-link dropdown-toggle">
                        <i class="fas fa-folder"></i>
                        <span>작물</span>
                      </a>


                        <a class="nav-link dropdown-toggle">
                          <i class="fas fa-folder"></i>
                          <span>부위</span>
                        </a>

                  {% if date_select == 1 %}
                        <a class="nav-link dropdown-toggle">
                          <i class="fas fa-fw fa-folder"></i>
                          <span>날짜</span>
                        </a>
                  {% endif %}
              </div>

              <form action="/farm/{{position_num}}" method="post">
                <div class="row justify-content-center my-2" >

                      <select name="crop_name" id="crop_name">
                        <option value="">--작물--</option>
                      {% for i in data %}
                        <option value={{i['crop_name']}}>{{i['crop_name']}}</option>
                      {% endfor %}
                      </select>
                      &nbsp;&nbsp;
                      <select name="crop_part_name" id="crop_part_name">
                        <option value="">--부위--</option>
                      </select>
                      &nbsp;&nbsp;
                      {% if date_select == 1 %}
                        <input id="date_input" type='date' style="width:100px" required>
                     {% endif %}
                     <input type=hidden id="date" name="date" value="00000000">
                </div>
                  <div class="row justify-content-center my-2">
                    <button id="submit_but"class="btn btn-primary btn-block" style="width:170px " type="submit">제출</button>
                  </div>
                        <!-- script-->
                    <script>
                    /* ======== crop part select 변경 function ========= */
                        let crop_name_select = document.getElementById('crop_name');
                        let crop_part_select = document.getElementById('crop_part_name');

                        crop_name_select.onchange=function(){
                            crop_name = crop_name_select.value;

                            fetch('/farm/'+{{position_num}}+'/'+crop_name).then(function(response){
                                response.json().then(function(data){
                                    let optionHTML='';

                                    console.log(data);

                                    for(let part of data){
                                       optionHTML += '<option value="'+part+'">'+part+'</option>';
                                    }

                                    crop_part_select.innerHTML = optionHTML;
                                });
                            });
                        }


    /* ======== datetime을 yyyymmdd 포맷으로 변경 function ========= */

    var today = new Date().toISOString().substring(0, 10);
    console.log(today);
    var today_arr = today.split('-');
    document.getElementById('date').value = today_arr[0]+''+today_arr[1]+''+today_arr[2];

    if( {{date_select}} == 1 ){
     function fncDateToStr(argDate){
        var tmp = '';
        if(argDate !== undefined){
            var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;
            tmp = String(argDate).replace(/(^\s*)|(\s*$)/gi, '').replace(regExp, ''); // 공백 및 특수문자 제거
        }
        return tmp;
    }
    let date_org = document.getElementById('date_input');
    console.log(date_org.value);
    let date_rtn = document.getElementById('date');
    console.log(date_rtn.value);
    date_rtn.value = fncDateToStr(date_org.value);

    date_org.onchange=function(){
           date_rtn.value = fncDateToStr(date_org.value);
           console.log(date_rtn.value);
    }
    }



  </script>

              </form>
          </div>
        </div>

              <!-- chart -->
          <div class="row">
          <div class="col-6">
        <div class="card md-3">
            <div class="card-header" style="background-color:rgb(45,56,71);">
                <font style="color:rgb(255,255,255);">
                7일간 길이 그래프
               </font>
            </div>
            <div class="card-body">
               <!-- <div id="container" style="height:300px; width:100%;" ></div> -->
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
             <div class="card-footer" style="text-align:right;">
                     오늘 이후의 그래프 값은 인공지능이 예측한 값입니다. </font>
             </div>
        </div>
          </div>
          <div class="col-6">
            <div class="card md-3">
                <div class="card-header" style="background-color:rgb(45,56,71);">
                    <font style="color:rgb(255,255,255);">
                        성장 속도 그래프</font>
                </div>
                <div class="card-body">

              <canvas id="myBarChart" width="100%" height="30"></canvas>
                </div>
                <div class="card-footer" style="text-align:right;">
                  각 값은 해당 길이의 성장 속도를 나타냅니다.
             </div>
            </div>
          </div>

          </div>
          </div>

      </div>
        </div>





      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © IOTIX 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">로그아웃 하시겠습니까?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
            <a class="btn btn-primary" href="{{ url_for('logoutapi') }}">로그아웃</a>
          </div>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script type="text/javascript" src="/static/js/demo/chart-area-demo.js"></script>
  <script>

  //line chart
    var dd=[1,1,1,1,1,1,1];
    var day=["1", "2", "3", "4", "5", "6", "7"];
    var dataColor=[];
    var dataColor2=[];
    var dataBorColor=[];

    dd[0]={{chart_list[0]['delta']}};
    dd[1]={{chart_list[1]['delta']}};
    dd[2]={{chart_list[2]['delta']}};
    dd[3]={{chart_list[3]['delta']}};
    dd[4]={{chart_list[4]['delta']}};
    dd[5]={{chart_list[5]['delta']}};
    dd[6]={{chart_list[6]['delta']}};

    day[0]=("{{chart_list[0]['date']}}".split(" "))[0];
    day[1]=("{{chart_list[1]['date']}}".split(" "))[0];
    day[2]=("{{chart_list[2]['date']}}".split(" "))[0];
    day[3]=("{{chart_list[3]['date']}}".split(" "))[0];
    day[4]=("{{chart_list[4]['date']}}".split(" "))[0];
    day[5]=("{{chart_list[5]['date']}}".split(" "))[0];
    day[6]=("{{chart_list[6]['date']}}".split(" "))[0];

    today = new Date().toISOString().substring(0, 10);
    console.log(today);
    console.log(day[0]);
    for(var i=0; i<7; i++){
        if(today < day[i]){
            dataColor.push("rgba(56,116,153,1)");
            dataColor2.push("rgba(255,88,65,1)");
            dataBorColor.push("rgba(0,0,0,0.1)");
         }
        else{
            dataColor.push("rgba(34,142,208,1)");
            dataColor2.push("rgba(250,112,75,1)");
            dataBorColor.push("rgba(255,255,255,0.8)");
         }
    }

    myLineChart.data.datasets[0].pointBackgroundColor=dataColor;
    myLineChart.data.datasets[1].pointBackgroundColor=dataColor2;
    myLineChart.data.datasets[0].pointBorderColor=dataBorColor;
    myLineChart.data.datasets[1].pointBorderColor=dataBorColor;
    myLineChart.data.datasets[0].data=dd;
    myLineChart.data.datasets[1].data={{chart_totalL}};
    myLineChart.data.labels=day;
    myLineChart.update();

   //bar chart
   var start_len={{bar_len}}[0];
   var index=[];
   var speed=[];

   index.push(start_len);
   speed.push({{bar_speed}}[0]);
   for(var i=1; i<{{bar_speed}}.length; i++){
        for(var j=1; j<({{bar_len}}[i]-{{bar_len}}[i-1]); j++){
            index.push({{bar_len}}[i-1]+j);
            speed.push({{bar_speed}}[i]);
        }
        index.push({{bar_len}}[i]);
        speed.push({{bar_speed}}[i]);
   }
   myBarChart.data.labels=index;
   myBarChart.data.datasets[0].data=speed;
   myBarChart.update();



  </script>

  <!--<script type="text/javascript" src="/static/js/jquery.js"></script>-->


</body>

</html>
