<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IOTIX 농장 관리 페이지- 위치 선택</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{{ url_for('homeapi') }}">IOTIX</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">

          <a class="btn" href="#" data-toggle="modal" data-target="#logoutModal" style="color:white;">로그아웃</a>

      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('homeapi') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>프로젝트 소개</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('farmapi') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>작물 관리</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('farmapi') }}">작물 관리</a>
          </li>
          <li class="breadcrumb-item active">작물 위치 선택</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
              농장 블록 선택
          </div>
          <div class="card-body">

          <p class=" text-center  my-5" style="font-size: 120%">
            <font style="color: #22a1b4; font-weight:bold;">농장이름</font></b> {{name}} <br>
              <font style="color: #22a1b4; font-weight:bold;">관리자이름</font> {{manager}} <br>
            </p>


            <p class="text-center my-5">
              블록을 선택하면 해당 위치의 작물 정보를 볼 수 있습니다.
            </p>
            
            <!--farm image button-->

            <form action="/farm" method="post">
                <div class="row">
                {% for i in range(1,10) %}
                  <div class="col-xs-4" style="margin-left:auto; margin-right:auto;">
                  {% if p_list[i-1] == 1 %}
                    <button class="btn" name="position_num" type="submit" value={{i}}><img class="btn-img" src="static/image/farm{{i}}.png"></button>
                  {% else %}
                    <button class="btn" name="position_num" type="button"><img class="btn-img" src="static/image/farm{{i}}_x.png"></button>
                  {% endif %}
                  </div>
                  {% if (i%3) ==0 %}
                    </div>
                    <div class="row">
                  {% endif %}
                {%endfor%}
                    </div>
            </form>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © IOTIX 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하시겠습니까?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="{{ url_for('logoutapi') }}">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin.min.js"></script>


</body>

</html>
